/**
 * CSS for Alerts
 * @summary Additional CSS for bootstrap alerts Bootstrap 
 * @author Cliff Crerar
 * Created at     : 2018-07-06 22:43:59 
 * Last modified  : 2018-07-06 23:39:09
 */

.alert {
    display: none;
    position: fixed;
    top:0;
    left:0;
    color: white;
    width: 100%;
    border-radius: 0 !important;
    z-index: 3000 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
}

.alert.error {
    background-color: rgba(218, 0, 0, 0.9)
}

.alert.success {
    background-color: rgba(0, 194, 0, 0.9)
}

.rateBtns>.active {
    border: 3px solid black !important;
}

.bgFormCancel {
    position: relative !important;
    left: 0 !important;
}