/**
 * long description for the file
 *
 * @summary CSS added after template was created
 * @author Cliff Crerar
 *
 * Created at     : 2018-05-30 21:33:32
 * Last modified  : 2018-06-05 17:48:01
 */

/* BOOSTRAP MODIFIED CSS */
.container-fluid-1 {
    padding: 0 !important;
    margin-right: auto;
    margin-left: auto;
  }

  .container-fluid-1::after {
    display: table;
    clear: both;
    content: "";
  }

.rowB4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


 /* GENERAL CSS */

.home-page-title-box{
    margin: 0 !important;
    height: 100%;
    width: 100%;
}

.home-page-title{
    font-family: Algeria !important;
    font-size: 50vh;
}

/* EXPERIMENTAL CSS FOR NEW PROTO LOGO */
.logoBand{
    background-color: #241E20;
    border: solid 10px #241E20;
    width: 100%;
    margin: 0 !important;
}

.logohp{
    position: relative;
    width: 30%;
    left: 20vw
}

/* NAVBAR */
.nav-stick-top {
    position: fixed;
}

/* ABOUT SECTION */
.mbr-overlay-additional-1{
    opacity: 0.7;
    background-color: rgb(255, 255, 255);
}

/* OUR CLIENTS */
.mbr-overlay-additional-2{
    background-color: rgb(34, 34, 34);
    opacity: 0.5;
}

/* OUR TEAM */
.mbr-overlay-additional-3{
    opacity: 0.5; background-color: rgb(255, 255, 255);
}

/* LOCATION */
.mapsIframe {
    border:0
}