/**
 * long description for the file
 *
 * @summary CSS added after template was created
 * @author Cliff Crerar
 *
 * Created at     : 2018-05-30 21:33:32
 * Last modified  : 2018-06-13 07:21:30
 */


/* AVAILABLE FONTS
Domine
Pridi*
Quando*
Righteous
Rosario

Syncopate
Krona One
Open Sans Condensed

Abril Fatface
Bowlby One
Changa One
Damion
Holtwood+One+SC
Marmelad
Michroma
Montserrat Alternates
Racing Sans One
Rammetto One
Shrikhand
*/

 /**/

body{
    width: 100vw;
    overflow-x: hidden !important;
}

/* BOOSTRAP MODIFIED CSS */
.container-fluid-1 {
    padding: 0 !important;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid-1::after {
    display: table;
    clear: both;
    content: "";
}

.rowB4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/* GENERAL CSS */
.mbr-section-title{
    /*font-family: Abril Fatface;
    font-family: Bowlby One;
    font-family: Changa One;
    font-family: Damion;
    font-family: Holtwood One SC;
    font-family: Rammetto One;

    font-family: Montserrat Alternates;
    font-family: Racing Sans One;
    font-family: Michroma;
    font-family: Marmelad;
    */
    font-family: Raleway;
    font-weight: bold;
    /*

    */
}

.mbr-section-title.display-2{
    margin: 0;
}

.title-icon{
    margin: 0 5px 0 5px;
}
