/**
 * LANDING PAGE CSS
 * @summary CSS for the site's landing page
 * @author Cliff Crerar
 * Created at     : 2018-06-11 22:03:01 
 * Last modified  : 2018-06-11 22:11:04
 */

/*
     HOME PAGE
*/
.home-page-title-box{
    margin: 0 !important;
    height: 100%;
    width: 100%;
}

.logohp{
    float: right !important;
    padding: 10px 0 10px 0;
    height: 80vh;
    -webkit-transform-style: preserve-3d; /* Safari 3-8  */
    transform-style: preserve-3d;
    opacity: 0.3;
    transform: rotate(5deg)
}

.home-bg-logo-cntr{
    padding-right: 1vw;
}
