/**
 * LANDING PAGE CSS
 * @summary CSS for the site's landing page
 * @author Cliff Crerar
 * Created at     : 2018-06-11 22:03:01 
 * Last modified  : 2018-06-18 20:19:58
 */

/*
     HOME PAGE
*/

.mbr-section{
    background-position: right top;
}

.logoBandDemo4{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
}

.home-page-title-box{
    margin: 0 !important;
    height: 100%;
    width: 100%;
}

.logohp{
    height: 115vh;
    -webkit-transform-style: preserve-3d; /* Safari 3-8  */
    transform-style: preserve-3d;
    opacity: 0.1;
    transform: rotate(10deg);
}

.home-bg-logo-cntr{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*
.home-bg-logo-cntr{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
}
*/
