/**
 * LANDING PAGE CSS
 * @summary CSS for the site's landing page
 * @author Cliff Crerar
 * Created at     : 2018-06-11 22:03:01 
 * Last modified  : 2018-06-19 18:51:20
 */

/*
     HOME PAGE
*/

.mbr-section{
    background-position: right top;
}

.logoBandDemo4{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
}

.home-page-title-box{
    margin: 0 !important;
    height: 100%;
    width: 100%;
}

.logohp{
    height: 115vh;
    -webkit-transform-style: preserve-3d; /* Safari 3-8  */
    transform-style: preserve-3d;
    opacity: 0.1;
    transform: rotate(10deg);
}

.home-bg-logo-cntr{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.scroll-down-div{
    position: absolute;
    text-align: center;
    bottom: 10px;
    width:100%;
    z-index: 100;
}

.scroll-down-glyph-1{
    opacity: 0;
    color: white;
    font-size: 2em;
    margin-right: 1vw;
    
    animation: strobe 2s ease-in-out;
    -webkit-animation: strobe 2s ease-in-out;
    -o-animation: strobe 2s ease-in-out;
    -moz-animation:  strobe 2s ease-in-out;
    
    -webkit-animation-delay: 2s;
    -o-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;

    animation-iteration-count: 3;
    -o-animation-iteration-count: 3;
    -moz-animation-iteration-count: 3;
    -webkit-animation-iteration-count: 3;
}

.scroll-down-glyph-2{
    opacity: 0;
    color: white;
    font-size: 2em;
    margin-left: 1vw;
    
    animation: strobe 2s ease-in-out;
    -webkit-animation: strobe 2s ease-in-out;
    -o-animation: strobe 2s ease-in-out;
    -moz-animation:  strobe 2s ease-in-out;
    
    -webkit-animation-delay: 3s;
    -o-animation-delay: 3s;
    -moz-animation-delay: 3s;
    animation-delay: 3s;

    animation-iteration-count: 3;
    -o-animation-iteration-count: 3;
    -moz-animation-iteration-count: 3;
    -webkit-animation-iteration-count: 3;
}

@keyframes strobe {
    0%   {opacity: 0;}
    25%  {opacity: 0.25;}
    50%  {opacity: 0.5;}
    75%  {opacity: 0.75;}
    100% {opacity: 0.1;}
}
@-moz-keyframes strobe {
    0%   {opacity: 0;}
    25%  {opacity: 0.25;}
    50%  {opacity: 0.5;}
    75%  {opacity: 0.75;}
    100% {opacity: 0.1;}
}
@-o-keyframes strobe {
    0%   {opacity: 0;}
    25%  {opacity: 0.25;}
    50%  {opacity: 0.5;}
    75%  {opacity: 0.75;}
    100% {opacity: 0.1;}
}
@-webkit-keyframes strobe {
    0%   {opacity: 0;}
    25%  {opacity: 0.25;}
    50%  {opacity: 0.5;}
    75%  {opacity: 0.75;}
    100% {opacity: 0.1;}
}

/*
.home-bg-logo-cntr{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
}
*/
