/**
 * CSS MOBILE
 * @summary CSS for the navbar mobile display
 * @author Cliff Crerar
 * Created at     : 2018-06-08 21:08:55
 * Last modified  : 2018-06-13 23:33:23
 */

.mobile-menu{
    display: none;

}

@media only screen and (max-width: 1024px){
    .nav-left-1{
        font-size: 2em;
        background: linear-gradient(40deg, rgba(255,253,231,0.4) 50%, rgba(241, 32, 165, 0.3) 90%);;
    }
    .nav-left-logo{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    .nav-right{
        display: none;
        flex-direction: column;
    }
    .mobile-menu{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        padding: 0.30em;
    }
    .ham-burger{
        font-size: 1em;
        padding: 0.25em 0.35em 0.25em 0.35em;
        border: 0.07em solid white;
        background: transparent;
        border-radius: 0.2em;
    }
}

@media (max-width: 1024px) and (orientation:landscape){
    .ham-burger{
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 414px){
    .mbr-section{
        background-position: right -40vw top;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait){
    .mbr-section{
        background-position: right -30vw top;
    }
}

@media only screen and (max-width: 768px) and (orientation: landscape){
    .mbr-section{
        background-position: right top;
    }
}