/**
 * SERVICES SECTION CSS
 * @summary Ser
 * @author Cliff Crerar
 * Created at     : 2018-06-08 18:36:23 
 * Last modified  : 2018-06-11 23:14:53
 */

  /* AVAILABLE FONTS
Domine
Pridi*
Quando*
Righteous
Rosario
Syncopate
Krona One
Open Sans Condensed
Raleway
*/

.mbr-service-heading{
    background-color: var(--ht-dark) !important;
    color: var(--ht-light);
    border-top: var(--section-border);
    padding-top: 3rem; 
    padding-bottom: 3rem;
}

.mbr-service-thumbnails{
    background: var(--ht-light);
    background: 
        linear-gradient(
            180deg, 
            var(--ht-light) 30%, 
            var(--ht-green) 70%);
    border-top: var(--section-border);
    padding-top: 4.5rem; 
    padding-bottom: 4.5rem;
}

/*rgba(230,255,196,1);*/

.svc-thumbnail>div{
    border: var(--content-border);
    border-radius: 20px;
    background:
    linear-gradient(
        360deg, 
        var(--ht-light) 30%, 
        var(--ht-green) 70%);
}

.svc-card-block{
    background: transparent;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px; 
}

.svc-card-title{
    font-family: Righteous;
}

.svc-carousel{
    border-top: var(--section-border)
}

.svc-car-title-desc{
    color: black;
    border: var(--content-border);
    border-radius: 20px;
    background: var(--ht-green-o);
    padding: 2vw;
}

.svc-car-title{
    font-family: Syncopate;
   /* text-shadow: 1px 0 1px white, 0 1px 1px white, -1px 0 1px white, 0 -1px 1px white;*/
}

/*
background: rgb(126,87,194);
background: linear-gradient(142deg, rgba(126,87,194,1) 15%, rgba(255,253,231,1) 85%);
*/